<?php
  $request = $_SERVER["REQUEST_URI"];
  //Quitamos las variables que puedan llegar por url
  $request_final = explode("?", $request);
  //Obtenemos toda la configuración de la noticia
  $acercaDeMi = json_decode(file_get_contents('assets/json' . $request_final[0] . '.json'), false);
?>
<!doctype html>
<html lang="es"> 
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
      <link  rel="stylesheet" href="/serflix/assets/css/dynamic.css">
      <link  rel="stylesheet" href="/serflix/assets/css/general.css">
      <link  rel="stylesheet" href="/serflix/assets/css/components/menu.css">
      <link  rel="stylesheet" href="/serflix/assets/css/components/breadcrums.css">
      <link  rel="stylesheet" href="/serflix/assets/css/components/about-me.css">
      <link  rel="stylesheet" href="/serflix/assets/css/components/cookies.css">
      <link  rel="stylesheet" href="/serflix/assets/css/components/footer.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" >
  </head>  
  <body>
      <?php include_once 'componentes/menu.php';?>
      <main class="container p-4">
        <article class="about-me">
          <div class="column">
            <ul class="breadcrums">
                <?php 
                    foreach ($acercaDeMi->breadcrumb as $breadcrumb => $valor) {
                        if(!empty($valor->link))
                           echo "<li><a href=\"{$valor->link}\">{$valor->name}</a></li>";
                        else
                           echo "<li><span>{$valor->name}</span></li>";
                    }
                ?>
            </ul>
            <h1>Acerca de Mi</h1>
            <div class="detail-about-me">
              <p class="text-center">
                <img src="http://arduinfo.xyz/wp-content/uploads/autor-arduinfo-xyz-300x300.png" />
              </p>
              <p class="text-center">
                 <strong>Sergio Cruz</strong>
              </p>
              <p>
                Desde las antiguas callejuelas de Cusco hasta las vibrantes plazas de Lima, Lucas ha difundido su amor por el Arduino y la electrónica. En el corazón de Perú, donde la historia y la modernidad se encuentran, Lucas, también conocido como "El Mago de Arduino", teje historias electrónicas.
              </p>
              <p>
                Todo comenzó en una tarde en Arequipa, a la sombra del volcán Misti. Lucas, con un Arduino recién adquirido y un puñado de LEDs, decidió sumergirse en el mundo de la electrónica. Lo que comenzó como un pasatiempo en las tardes peruanas, pronto se convirtió en una pasión que iluminó su camino, al igual que los LEDs que tan hábilmente manipulaba.
              </p>
              <p>
              Recorriendo desde las playas de Máncora hasta las selvas de Iquitos, Lucas se ha esforzado por compartir su conocimiento. Ha organizado talleres en escuelas locales, mostrando a jóvenes y adultos cómo la tecnología puede ser divertida y accesible. Su blog, una amalgama de proyectos, aventuras y desafíos técnicos, ha atraído a seguidores no solo de Perú, sino de todo el mundo.
              </p>
              <p>
              Pero no todo ha sido fácil para nuestro mago. Quienes lo conocen pueden atestiguar los momentos en los que, en lugar de magia, había humo saliendo de sus circuitos. Sin embargo, cada fallo fue una lección, cada desafío, una oportunidad para crecer.
              </p>  
              <p>
              Ahora, desde su taller en la vibrante Lima, Lucas sigue inventando, creando y, por supuesto, buscando ese escurridizo destornillador. Si estás en la ciudad, no te sorprendas si te topas con él en una cafetería local, tomando un café con leche y esbozando su próximo proyecto en una servilleta.
              </p>
            </div>
          </div>
        </article>
      </main>
      <?php include_once 'componentes/cookies.php';?>
      <?php include_once 'componentes/footer.php';?>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/serflix/assets/js/main.js"></script>
</html>