.privacity{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.privacity h1{
    font-size: 40px;
    padding-top: 10px;
}

.privacity p{
    font-size: 17px;
}

@media(max-width: 771px){
    .privacity h1{
        font-size: 35px !important;
    }

    .privacity h2{
        font-size: 25px !important;
    }

    .privacity p{
        font-size: 16px;
    }
}

@media(max-width: 599px){
    .privacity h1{
        font-size: 30px !important;
    }

    .privacity h2{
        font-size: 20px !important;
    }

    .privacity p, .privacity ul li{
        font-size: 15px;
    }
}

.privacity h2{
    font-size: 30px;
}

.detail-privacy{
    margin-top: 20px;
}

.detail-privacy p:not(.text-center){
    text-align: justify;
}

.detail-privacy ul{
    margin-left: 30px;
}

.privacity ul li{
    margin-bottom: 15px;
}

.privacity ul li a{
    color: #222;
    text-decoration: underline !important;
} 